<div class="container container-confirmation">
    <div class="title-confirmation">
      It's a match !
    </div>

    <div class="pictures-confirmation">
      <div class="pix-layer">
      <%= image_tag @candidate_1.avatar.url(:thumb), class: "circle-image" %>
      <%= image_tag @candidate_2.avatar.url(:thumb), class: "circle-image" %>
      </div>
      <!--
      <div class="circles-layer">
        <div class="yellow-circle"></div>
        <div class="yellow-circle"></div>

        <div class="blue-circle"></div>
        <div class="blue-circle"></div>
      </div>
    -->
    </div>

    <div class="selected-names">
      <%= @candidate_1.firstname %> &amp; <%= @candidate_2.firstname %>…
    </div>


    <div class="input-area">

      <%= form_tag("/board/confirmation") do %>
        <%= text_field_tag(:intro) %>
        <%= submit_tag("enregistrer") %>
        <% @a = params[:intro] %>
        
      <% end %>
    </div>
    <div class="selected-names">
      Vous allez envoyer ce message à <br>
      <%= @candidate_1.firstname %> &amp; <%= @candidate_2.firstname %> :
    </div> 
    <div class= "field1">

      <%=params[:intro]%>
      <br>
    </div>
      <br>
      <%= mail_to "#{@candidate_1.email}", "ENVOIE !", cc: "#{@candidate_2.email}", subject: "#{@current_user.firstname} #{@current_user.lastname} pense que vous pourriez bien vous entendre ! ", body:"Voila le message qu'il vous a envoyé : #{@a}" %>
    

    <div class="action_link">
      <%= link_to "Annuler", root_path %>
    </div>
</div>



<!--     <div class="CTA_button">
          <a href='#'>ENVOIE !</a>
    </div> -->


