<div class="container container-confirmation">
    <div class="title-confirmation">
      It's a match !
    </div>

    <div class="pictures-confirmation">
      <div class="pix-layer">
      <%= image_tag @candidate_1.avatar.url(:thumb), class: "circle-image" %>
      <%= image_tag @candidate_2.avatar.url(:thumb), class: "circle-image" %>
      </div>
      <!--
      <div class="circles-layer">
        <div class="yellow-circle"></div>
        <div class="yellow-circle"></div>

        <div class="blue-circle"></div>
        <div class="blue-circle"></div>
      </div>
    -->
    </div>

    <div class="selected-names">
      <%= @candidate_1.firstname %> & <%= @candidate_2.firstname %>...
    </div>

<!--
    <div class="input-area">

      <%= form_tag("/board/confirmation") do %>
        <%= text_field_tag(:intro) %>
        <%= submit_tag("ENVOI") %>
        <% @intro = params[:intro] %>
      <% end %>
    </div>
    <div class="CTA_button">
          <a href='#'>ENVOIE !</a>
    </div> 
    <%= mail_to "#{@candidate_1.email}", "ENVOI", subject: "Vous avez matché avec #{@candidate_2.firstname} !", body:"#{@intro}" %>
-->    
    <%= link_to match_path do %>
    <button type="button" class="btn btn-outline-danger">Valider</button>
    <% end %>
    <div class="action_link">
          <a href='board/show'>Annuler</a>
    </div>
</div>
