<div class="container container-confirmation">
    <div class="title-confirmation">
      It's a match !
    </div>

    <div class="pictures-confirmation">
      <div class="pix-layer">
      <%= image_tag @candidate_1.avatar.url(:thumb), class: "circle-image" %>
      <%= image_tag @candidate_2.avatar.url(:thumb), class: "circle-image" %>
      </div>
      <!--
      <div class="circles-layer">
        <div class="yellow-circle"></div>
        <div class="yellow-circle"></div>

        <div class="blue-circle"></div>
        <div class="blue-circle"></div>
      </div>
    -->
    </div>
      <a target="_blank" class="CTA_button"
      <%= link_to board_show_path do %>
      <%= mail_to "#{@candidate_1.email}", "ENVOIE !", cc: "#{@candidate_2.email}", subject: "#{@candidate_1.firstname} & #{@candidate_2.firstname}, je pense que vous pourriez bien vous entendre ! ", body:"Hello #{@candidate_1.firstname} & #{@candidate_2.firstname}, 
        \n Je vous ai fait matcher sur Obviews ! Je pense que vous aimeriez vous rencontrer, pour les raisons suivantes :
        \n \n \n
        \n A très vite,
        \n #{@current_user.firstname}
        \n \n Retrouvez-vous sur www.obviews.com"
        %> >
        <% end %>
      </a>

    <div class="action_link">
      <%= link_to "Annuler", root_path %>
    </div>
</div>



<!--     <div class="CTA_button">
          <a href='#'>ENVOIE !</a>
    </div> -->


