<!-- TOP CONTAINER -->
<div class= "candidate_1">
  <div class="bio">
    <p class="bio_description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis dolores totam harum laboriosam dolorem in tempore sapiente porro veritatis eaque, esse corporis ut deserunt qui saepe delectus deleniti, ab magnam.
    </p>
    <div class="action-bar">
      <!-- <i class="fav material-icons">star_border</i> -->
      <!-- Activer si le user clique sur cette div -->
      <i class="fav material-icons active">star</i>
      <span class="user-name-display"><%= @candidate_1.firstname %> <%= @candidate_1.lastname %></span>
      <!-- <i class="lock material-icons">lock_open</i> -->
      <!-- Activer si le user clique sur cette div -->
      <i class="lock material-icons active">lock</i>
    </div>
  </div>
  <div class="picture">
    <%= image_tag @candidate_1.avatar.url(:preview), class: "img-fluid"  %>
    <div class="action-bar">
      <!-- <i class="fav material-icons">star_border</i> -->
      <!-- Activer si le user clique sur cette div -->
      <i class="fav material-icons active">star</i>
      <span class="user-name-display"><%= @candidate_1.firstname %> <%= @candidate_1.lastname %></span>
      <!-- <i class="lock material-icons">lock_open</i> -->
      <!-- Activer si le user clique sur cette div -->
      <i class="lock material-icons active">lock</i>
    </div>
  </div>
</div>
<!-- MIDDLE -->
<div class= "middle-container">
<<<<<<< HEAD
  <%= link_to users_show_path do %>
    <%= image_tag "super1.jpg", class: "circle-image" %>
  <% end %>
=======
    <%= link_to users_show_path(current_user) do %>
      <%= image_tag current_user.avatar.url(:thumb), class: "circle-image"  %>
    <% end %>
    
>>>>>>> 84b4c3f6f1e05bbe3a52607a8dc79bd797a3f2ea
    <button type="button" class="btn btn-outline-danger">MATCH</button>
    <button type="button" class="btn btn-light">Next</button>
</div>
<!-- BOTTOM CONTAINER -->
<div class= "candidate_2">
  <div class="bio">
    <p class="bio_description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis dolores totam harum laboriosam dolorem in tempore sapiente porro veritatis eaque, esse corporis ut deserunt qui saepe delectus deleniti, ab magnam.
    </p>
    <div class="action-bar">
      <!-- <i class="fav material-icons">star_border</i> -->
      <!-- Activer si le user clique sur cette div -->
      <i class="fav material-icons active">star</i>
      <span class="user-name-display"><%= @candidate_2.firstname %> <%= @candidate_2.lastname %></span>

      <!-- <i class="lock material-icons">lock_open</i> -->
      <!-- Activer si le user clique sur cette div -->
      <i class="lock material-icons active">lock</i>
    </div>
  </div>
  <div class="picture">
    <%= image_tag @candidate_2.avatar.url(:preview), class: "img-fluid"  %>
    <div class="action-bar">
      <!-- <i class="fav material-icons">star_border</i> -->
      <!-- Activer si le user clique sur cette div -->
      <i class="fav material-icons active">star</i>
      <span class="user-name-display"><%= @candidate_2.firstname %> <%= @candidate_2.lastname %></span>
      <!-- <i class="lock material-icons">lock_open</i> -->
      <!-- Activer si le user clique sur cette div -->
      <i class="lock material-icons active">lock</i>
    </div>
  </div>
</div>
