<!-- TOP CONTAINER -->
<div class= "candidate_1">
  <div class="bio behind">
    <p class="bio-description" id="click-frame-bio">
      <%= @candidate_1.bio %>
    </p>
    <div class="action-bar">
      <i class="fav material-icons">star</i>
      <!--^ Activer si le user clique sur cette div -->
      <span class="user-name-display"><%= @candidate_1.firstname %> <%= @candidate_1.lastname %></span>
      <!-- Activer si le user clique sur cette div -->
      <i class="lock material-icons">lock</i>
    </div>
  </div>
  <div class="picture ahead">
    <%= image_tag @candidate_1.avatar.url(:original), class: "img-fluid", :id=>"click-frame-pix"%>
    
    <div class="action-bar">
      <i class="fav material-icons">star</i>
      <!--^ Activer si le user clique sur cette div -->
      <span class="user-name-display"><%= @candidate_1.firstname %> <%= @candidate_1.lastname %></span>
      <!-- Activer si le user clique sur cette div -->
      <i class="lock material-icons">lock</i>
    </div>
  </div>
</div>
<!-- MIDDLE -->
<div class= "middle-container">

    <%= link_to users_show_path(current_user) do %>
      <%= image_tag current_user.avatar.url(:thumb), class: "circle-image"  %>
    <% end %>

    <%= link_to board_confirmation_path do %>
    <button type="button" class="btn btn-outline-danger">MATCH</button>
    <% end %>
    

    <%= link_to next_path, type:"button", class:"action_link", method: :get do %>
    <button type="button" class="action_link">Next</button>
    <% end %>


</div>
<!-- BOTTOM CONTAINER -->
<div class= "candidate_2">
  <div class="bio behind">
    <p class="bio-description" id="click-frame-bio">
      <%= @candidate_2.bio %>
    </p>
    <div class="action-bar">
      <i class="fav material-icons">star</i>
      <!--^ Activer si le user clique sur cette div -->
      <span class="user-name-display"><%= @candidate_2.firstname %> <%= @candidate_2.lastname %></span>
      <!-- Activer si le user clique sur cette div -->
      <i class="lock material-icons">lock</i>
    </div>
  </div>
  <div class="picture ahead">
    <%= image_tag @candidate_2.avatar.url(:original), class: "img-fluid", :id=>"click-frame-pix"%>
    <div class="action-bar">
      <i class="fav material-icons">star</i>
      <!--^ Activer si le user clique sur cette div -->
      <span class="user-name-display"><%= @candidate_2.firstname %> <%= @candidate_2.lastname %></span>
      <!-- Activer si le user clique sur cette div -->
      <i class="lock material-icons">lock</i>
    </div>
  </div>
</div>
