<div class="container container-registration">
  <h1>Inscris-toi !</h1>

  <!-- FORM PART 1 -->
<div id="form_part1" class="form-active">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "Ton email",placeholder:"Email", class: "field1" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off",placeholder:"Ton mot de passe (6 caractères min)", class: "field1" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder:"Confirmation du mot de passe", class: "field1" %>
        </div>

        <div class="action-button" id="sign-up-next">Continue</div>
  </div>

  <!-- FORM PART 2 -->
  <div id="form_part2" class="form-unactive">
        <div class="field">
          <%= f.text_field :firstname, placeholder:"Ton prénom",class: "field1" %>
        </div>

        <div class="field">
          <%= f.text_field :lastname, placeholder:"Ton nom",class: "field1" %>
        </div>

        <div class="field">
          <%= f.text_field :bio, autocomplete: "off", placeholder:"Présente toi en quelques mots",class: "field1" %>
        </div>

        <div class="field">
          <%= f.file_field :avatar,class: "field1" %>
        </div>

        <div class="actions">
          <%= f.submit "S'INSCRIRE" %>
        </div>
    <% end %>

  <div class= "action_link">
  <%= link_to "Déjà inscrit ?", new_user_session_path, class: "login" %>
  </div>
</div>

</div>
