
  <div class="container-match-index">
  <%= link_to users_show_path do %><i class="material-icons">chevron_left</i><% end %>
    <h1> Captains Obviews </h1>
  </div>

    
      <div class="rank-div">
        <div class="who">
          <span class="ranking">1</span>
          <%= image_tag current_user.avatar.url(:thumb), class: "circle-image"  %>
          <span class="player-name">Ségolène Alquier</span>
        </div>
        <div class="ranking-score">
          <span class="score"><%= current_user.karma %></span>
          <span class="emoji">✨</span>
        </div>
      </div>

      <div class="rank-div">
        <div class="who">
          <span class="ranking">1</span>
          <%= image_tag current_user.avatar.url(:thumb), class: "circle-image"  %>
          <span class="player-name">Ségolène Alquier</span>
        </div>
        <div class="ranking-score">
          <span class="score"><%= current_user.karma %></span>
          <span class="emoji">✨</span>
        </div>
      </div>

      <div class="rank-div">
        <div class="who">
          <span class="ranking">1</span>
          <%= image_tag current_user.avatar.url(:thumb), class: "circle-image"  %>
          <span class="player-name">Ségolène Alquier</span>
        </div>
        <div class="ranking-score">
          <span class="score"><%= current_user.karma %></span>
          <span class="emoji">✨</span>
        </div>
      </div>
