<div class="container container-my-profile">
    <div class= "my-profile">
      <div class="my-bio">
        <p class="bio-description-self">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis dolores totam harum laboriosam dolorem in tempore sapiente porro veritatis eaque, esse corporis ut deserunt qui saepe delectus deleniti, ab magnam.
        </p>
        <div class="action-bar">
          <span class="user-name-display"><%= current_user.firstname %> <%= current_user.lastname %></span>
            <%= link_to edit_user_registration_path do %>
              <i class="material-icons material-icons-edit" style="font-size: 30px">mode_edit</i>
            <% end %>
        </div>
      </div>
      <div class="picture-self">
        <img src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-9/14910465_10154061156047253_6893560435987266829_n.jpg?oh=ea93c10ad90389172efff7b03861e2d0&oe=5B4837E7"></img><!-- CHANGED HERE -->
        <div class="action-bar">
          <span class="user-name-display"><%= current_user.firstname %> <%= current_user.lastname %></span>
            <a><%= link_to "Edit", edit_user_registration_path %>
              <i class="material-icons material-icons-edit" style="font-size: 30px">mode_edit</i>
            </a>
        </div>
      </div>
    </div>

    <div class="karma-score">
      Karma: 53
    </div>

    <div class="action-button">
      Voir mes views
    </div>

    <% if user_signed_in? %>
      <li><a><%= link_to "Log out", destroy_user_session_path, method: :delete %></a></li>  
    <% end %>

    <div class="action_link action_link_user-show">
      <a href='#' >Retour</a>
    </div>
</div>
